[submodule "blockly"]
	path = blockly
	url = https://github.com/SybelBlue/blockly.git
	branch = linearization
[submodule "closure-library"]
	path = closure-library
	url = https://github.com/google/closure-library.git
